.cadastro-container {
  width: 100%;
  max-width: 950px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cadastro-container form {
  width: 100%;
  max-width: 450px;
}

.cadastro-container form input {
  margin-top: 8px;
}

.cadastro-container form h1 {
  text-align: center;
  color: #6d121e;
  margin-bottom: 10px;
}
